* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #001533;
}

header {
    color: #fff;
    border-bottom: 1px solid #fff;
}


.background-white {
    background-color: white;
}

table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse
}

tr:nth-child(even) {
    background-color: #00e165a8
}

th {
    background-color: #001533;
    color: #fff;
}

th:first-child {
    border-right: 1px solid #fff;
}

td,
th {
    padding: 10px
}

.padding-20 {
    padding: 20px;
}

ul {
    list-style-type: none;
}

li {
    margin: 20px 0;
}

h3 {
    margin: 30px 0;
}

li::before {
    content: '\2714';
    font-size: 20px;
    padding: 5px 7px;
    margin-right: 10px;
    border: 1px solid #001533;
    border-radius: 50%;
}

.text-center {
    text-align: center;
}

.fontsize-50 {
    font-size: 50px;
}

.my-30 {
    margin: 30px 0;
}

.py-30 {
    padding: 30px 0;
}

.p-20 {
    padding: 20px;
}

#glossary {
    margin: 20px 0;
}

.filters {
    margin: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-inline-block {
    display: inline-block;
}

.logo {
    width: 100px;
}

.v-align-middle {
    vertical-align: middle;
}

.circle {
    padding: 1px 6px;
    border-radius: 50%;
    margin-right: 5px;
    color: #fff;
}

.filter-btn {
    background-color: #001533;
    padding: 5px 15px;
    color: #fff;
    border-radius: 15px;
    border: none;
}

.filter-btn:hover {
    background-color: #0015339a;
}

.label {
    font-size: 15px;
    color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
}

.bg-green {
    background-color: #00e165;
}

.bg-blue {
    background-color: #001533;
}